* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex
}

.middle {
    display: flex;
    flex-direction: row;
}

.playerScore, .computerScore {
    text-align: center;
}